.Welcome{
    background-color: rgb(234, 238, 238);
    text-align: center;
    border: 2px solid rgb(179, 47, 255);

}
.mission{
    background-color: rgb(175, 174, 173);
    border: 2px dotted blue;
    border-radius: 30px;
}
.about{
    border: 2px solid blue;
    background-color: azure;

}
.BP_Digital{
    background-color: cadetblue;
    border: 3px solid red;
    padding: 25px;
}
.nebulizer{
    border: 2px solid green;
    border-radius: 15px;
    background-color: aquamarine;
    padding: 28px;
    text-align: justify;
}